/* Feel free to edit CSS of body if you'd like. We provide you the light gray background color and font family in the body styling */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  background-color: rgb(230, 236, 240)
}

/* TODO: Create CSS for your Twitter Mockup */
nav {
  background-color: white;
  height: 46px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  list-style: none;
  z-index: 100;
}


#navbuttons {
  font-weight: bold;
  color: darkslategray;
  
  display: flex;
}

#navbuttons li {
  margin-top:14px;
  margin-left: 10%;
  font-weight: bold;
  color: darkslategray;
  position:relative;
}

#navbuttons li:hover {
  color: rgb(0, 172, 238);
  padding-bottom: 12px;
  border-bottom: 2px solid rgb(0, 172, 238);
}

#skiplink {
  display:none;
}

#tweetbutton {
  margin: 7px;
  font-weight: bold;
  color: white;
  position:fixed;
  right: 1%;
  background-color: rgb(0, 172, 238);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 20px;
}

#followbutton {
  font-weight: bold;
  color: rgb(0, 172, 238);
  position:fixed;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 172, 238);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 20px;
}

nav img {
  position:fixed;
  left:50%;
  height: 30px;
  margin-top: 8px;
}

#wrapper {
  background-color: rgb(230, 236, 240);
  display: flex;
  max-width: 1190px;
  margin: 56px auto;
}

#content-left {
  height: 250px;
  width: 290px;
  background-color: white;
  align-items: flex-start;
}

#content-right {
  height: 290px;
  width: 290px;
  background-color: white;
  display:flex;
  flex-direction: column;
}

#content-center {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

#whoToFollow {
  margin: 25px;
  width: 290px;
}

#followuser {
  border-bottom: 1px solid #e6ecf0;
  min-height: 101px;
}

#followuser img {
  border-radius: 50%;
  height:48px;
  width:48px;
  position:absolute;
  margin-top: 15px;
}

.follow-usertag {
  margin-left: 60px;
  margin-top: 15px;
  padding-top: 1px;
}

#tweet {
  border-bottom: 1px solid #e6ecf0;
  min-height: 51px;
  min-width: 350px;
}

#tweet img  {
  border-radius: 50%;
  height:48px;
  width:48px;
  position:absolute;
  margin-top: 15px;
}

.tweet-usertag {
  margin-left: 60px;
  margin-top: 15px;
}

#profile-banner {
  padding: 10%;
  justify-content: center;
  background-color: black;
  display: flex;
  z-index: 0;
  height: 30px;
}

#profile-name {
  display: block;
  margin-left: 120px;
}

#username {
  padding-top: 10px;
  font-weight: bolder;
  text-decoration: underline;
}

#tag {
  color: gray
}

#user-pfp {
  background-color: rgb(255, 255, 255);
  z-index: 2;
  position: absolute;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 65px;
  border-radius: 50%;
  height:75px;
  width:75px;
}

.circle {
  position: absolute;
  width: 80px;
  margin-left: 17px;
  margin-top: 63px;
  height: 80px;
  border-radius: 50%; 
  background-color: rgb(255, 255, 255); 
}

#content-right img {
  border-radius: 50%;
  height:48px;
  width:48px;
}

#profile-stats {
  padding-top: 30px;
  display: flex;
  list-style: none;
  z-index: 100;
  margin: 15px;
  font-weight: bold;
  gap: 30px;
  justify-content: right;
  color:gray;
}

#profile-stats-numbers {
  color:rgb(0, 172, 238);
}

@media (max-width: 1200px) {
  #content-right {
    display:none;
  }

    #navbuttons li{
        margin-left: 5%; 
    }
}

@media (max-width: 700px) {
    #navbuttons li{
        font-size: smaller; 
    }
}

@media (max-width: 600px) {
  #navbuttons li{
      font-size: x-small; 
  }
}